@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-card {
  margin: 10px;
}

.mat-mdc-form-field {
  margin: 5px 0;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}